*
!/.vscode
!/LICENSE
!/README.md
!.gitignore

!guarantee_weapon_swap
!guarantee_weapon_swap/**

!guarantee_ability_activation
!guarantee_ability_activation/**

!guarantee_better_sprint
!guarantee_better_sprint/**