*
!/.vscode
!/LICENSE
!/README.md
!.gitignore

!guarantee_weapon_swap
!guarantee_weapon_swap/**

!guarantee_special_action
!guarantee_special_action/**

!guarantee_ability_activation
!guarantee_ability_activation/**

!hybrid_sprint
!hybrid_sprint/**

!immersive_evasion
!immersive_evasion/**

!kami_utilities
!kami_utilities/**