*
!/.vscode
!/LICENSE
!/README.md
!.gitignore

!guarantee_weapon_swap
!guarantee_weapon_swap/**

!guarantee_ability_activation
!guarantee_ability_activation/**

!hybrid_sprint
!hybrid_sprint/**

!immersive_slide
!immersive_slide/**